<?xml version='1.0' encoding='utf-8'?>
<widget id="com.acheloja" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AcheLoja</name>
    <description>
        Os produtos das melhores Lojas perto de você.
    </description>
    <author email="atendimento@acheloja.com" href="http://acheloja.com">
        Grupo AcheLoja
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
	 <preference name="orientation" value="portrait"/>
    <plugin name="cordova-plugin-battery-status" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />
    <plugin name="cordova-plugin-media-capture" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0" />
    <plugin name="cordova-plugin-media" source="npm" spec="~2.2.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
	<plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
	<plugin name="phonegap-plugin-push" spec="1.6.0">
		<param name="SENDER_ID" value="121897226764" />
	</plugin>
    <platform name="android">
		<icon src="icone.png"/>
	    <icon src="www/icone.png"/>
	    <icon src="www/icone.png" gap:platform="android" />
        <icon density="ldpi" src="www/res/icon/android/mipmap-ldpi/ic_launcher.png" />
        <icon density="mdpi" src="www/res/icon/android/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="www/res/icon/android/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="www/res/icon/android/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="www/res/icon/android/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/mipmap-xxxhdpi/ic_launcher.png" />
    </platform>
    <platform name="ios">
       
    </platform>
    <platform name="wp8">
        
    </platform>
    <platform name="windows">
        
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
